.profileBox{
    height: auto;
    width: 50%;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.button1{
    height: 100px;
    width: 100px;
    border-color: black;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.button2{
    
    
    height: 50px;
    width: 150px;
    border-color: black;
    align-self: center;
}