.player_btn{
    border: solid 1px;
    background: #dee94d;
    color: #110909 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    height: 90px;
    width: 240px;
    outline: none;
    padding: 2px;
    cursor: pointer;
}
.playerName {
    font-size: 1.5rem;
    font-weight: bold;
}
.player_btn:hover {
    color: #070c0f !important;
    font-weight: 10 !important;
    letter-spacing: 1px;
    background: #49a52d;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
.inline{
    float:left;
    padding: 0.2rem;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}